@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>O produto proposto neste projeto consiste de um sistema que ofereça um suporte de monitoramento de forma remota de módulos que monitore a potência de um sinal. O sistema deve oferecer uma interface de entre o usuário e o sistema local que o cliente irá construir de forma simples e intuitiva sempre preservando a funcionalidade.</p>
