
@{
    Layout = "_Layout";
 
}

<html>
<head>
    <script src="~/js/vis.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <environment include="Development">

        <link rel="stylesheet" href="~/css/vis.css" />
    </environment>

</head>
<body>


    <div class="row">
        <label class="required" for="name">Nome do Modulo:</label><br />
        <input id="nome" class="input" name="name" type="text" value="" size="30" /><br />
        <span id="name_validation" class="error_message"></span>
    </div>
    <div class="row">
        <th>@Html.Label("Localização do modulo: ")</th></br>
        <td size="30">@Html.DropDownList("comodo", Modulo.GetProvincesList())<span class="required" ></span></td>

    </div>
    <div class="row">
        <label class="required">Outra Localização do modulo:</label><br />
        <input id="localizacao" class="input"  name="text" type="text" value="" size="30" /><br />
        <span id="name_validation" class="error_message"></span>

    </div>

    </br><button onclick="salvarModulo()">Salvar</button>
    
</body>
</html>
<script type="text/javascript">
    var localizacao_, novo, idLocalizacao;
    function salvarModulo() {
        if (localizacao.value != "") { localizacao_ = localizacao.value; novo = true, idLocalizacao = 0 }
        else {
            localizacao_ = comodo[comodo.selectedIndex].text; novo = false, idLocalizacao = comodo.value
        }
        $.ajax({
            type: 'GET',
            url: '/Home/Save',
            data: { nome: nome.value, localizacao_, novo,idLocalizacao },
            success: function (data) {

                alert(data);
            },
            error: function (data) { //linha 14
                alert("Sem conexão com o servidor");
            }
        });


    }


</script>

