@{
    ViewData["Title"] = "Home Page";
}

<div class="item active">
    <a class="btn btn-default" href="http://ararangua.ufsc.br/">
        <img src="~/images/brasao_UFSC_ararangua_horizontal_WEB.jpg" class="img-responsive" />
    </a>
    
    <div class="carousel-caption" role="option">
      
    </div>
</div>
      