
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/form.css">
</head>
<body>

    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Acessar</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Cadastra</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form name="formAcesso">
                        <div class="group">
                            <label for="user" class="label">Nome</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Senha</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>


                    </form>
                    <div class="group">
                        <button class="button" value="Sign In" onclick="validateForm()">Acessar</button>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <form name="formRegistro">
                        <div class="group">
                            <label for="user" class="label">Nome</label>
                            <input id="userRegister" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Senha</label>
                            <input id="passRegister" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass1" class="label">Repita a Senha</label>
                            <input id="passRegister1" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="email" class="label">Email</label>
                            <input id="email" type="text" class="input">
                        </div>
s    
                    </form>
                    <div class="group">
                        <button class="button" value="Sign In" onclick="SalvarRegistro()">Registrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script>

    //------------------------------------------------------------------------------------------
    function SalvarRegistro()
    {

        if (document.forms["formRegistro"]["passRegister"].value != document.forms["formRegistro"]["passRegister1"].value)
        {
            alert("Senhas não conferem");
            return ;
        }
        
        $.ajax({

            type: 'GET',
            url: '/Home/RegistroUsuario',
            data: { nome: document.forms["formRegistro"]["userRegister"].value, pass: document.forms["formRegistro"]["passRegister"].value, email: document.forms["formRegistro"]["email"].value },

            success: function (data) {
                    document.location.href = '/Home/Modulos/';
            },
            error: function (data) { //linha
                
                alert("Sem conexão com o servidor");

            }
        });

    }


    function validateForm() {
              
       
        $.ajax({

            type: 'GET',
            url: '/Home/ValidarAcesso',
            data: { nome: document.formAcesso.user.value, pass: document.formAcesso.pass.value },

            success: function (data) {

                if (data) {
                    alert("Acesso");
                    document.location.href = '/Home/Modulos/';
                }
                else {
                    alert("Senha ou Nome incorreto");
                    
                }

            },
            error: function (data) { //linha
                return false;
                alert("Sem conexão com o servidor");

            }
        });
        
    }

    

</script>
